@font-face{
    font-family: Cyberverse;
    src: url(/fonts/Cyberverse.otf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clock {
    font-family: Cyberverse;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}